.display {
    display: none;
}

#goolkeep{
    margin: 50px auto;
    height: 400px;
    width: 1000px;
    position: relative;
    border: 3px solid black;
}

#ball{
    position: absolute;
      left: 0;
      top: 0;
      transition: 2s ease-out all;
}